[submodule "vim/.vim/pack/colorschemes/start/solarized"]
	path = vim/.vim/pack/colorschemes/start/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/pack/statusbars/start/airline"]
	path = vim/.vim/pack/statusbars/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/pack/statusbars/start/airline-themes"]
	path = vim/.vim/pack/statusbars/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/.vim/pack/functionality/start/terminus"]
	path = vim/.vim/pack/functionality/start/terminus
	url = https://github.com/wincent/terminus.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/.vim/pack/functionality/start/fugitive"]
	path = vim/.vim/pack/functionality/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/functionality/start/repeat"]
	path = vim/.vim/pack/functionality/start/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/pack/functionality/start/surround"]
	path = vim/.vim/pack/functionality/start/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/pack/functionality/start/CamelCaseMotion"]
	path = vim/.vim/pack/functionality/start/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
