[submodule "vim/.vim/pack/colorschemes/start/solarized"]
	path = vim/.vim/pack/colorschemes/start/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/pack/statusbars/start/airline"]
	path = vim/.vim/pack/statusbars/start/airline
	url = https://github.com/vim-airline/vim-airline.git
